/* ---BASE--- */

html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Montserrat', sans-serif;
  color: #111111;
  background: #fafafa;
}

h1, h2, h3, h4, h5, h6 {
  margin-top: 0;
  margin-bottom: 0;
}
a {
  text-decoration: none;
  color: inherit;
  display: block;
}

ul,
ol {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
  list-style-type: none;
}

img {
  display: block;
}

button {
  cursor: pointer;
}

.visually-hidden {
  position: absolute;
  height: 1px;
  width: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: react(0 0 0 0);
  overflow: hidden;
}
.container {
  max-width: 1168px;
  padding-left: 16px;
  padding-right: 16px;
  margin-left: auto;
  margin-right: auto;
}

.section-paddings {
  padding-top: 50px;
  padding-bottom: 50px;
}

.accent-color {
  color: #fd9222;
}

.section-title {
  font-size: 24px;
  font-weight: 600;
  line-height: 1.17;
  letter-spacing: -0.03em;
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 50px;
}

/* ---HEADER--- */

.page-nav {
  display: flex; 
  justify-content: space-between;
  align-items: center;
}

.page-logo {
  font-weight: 700;
  font-size: 18px;
  line-height: 1.11;
  letter-spacing: -0.03em;
}

.text-italic {
  font-style: italic;
}

.menu {
  display: flex;
  gap: 24px;
}

.menu-link {
  display: block;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: -0.02em;
  padding-top: 30px;
  padding-bottom: 30px;
}

.menu-link:hover,
.menu-link:focus {
  color: #fd9222;
}

/* ---HERO STYLES--- */

.hero-section {
border-radius: 30px;
max-width: 1200px;
margin-left: auto;
margin-right: auto;
border-color: #1e1823;
background: rgba(17, 17, 17, 0.6);
}

.hero-container {
  padding-top: 381px;
  padding-bottom: 40px;
  padding-left: 56px;
  padding-right: 56px;
  color: #ffffff;
}

.main-title {
  max-width: 484px;
  font-size: 28px;
  font-weight: 500;
  line-height: 1.21;
  letter-spacing: -0.03em;
  margin-bottom: 32px;
}

.hero-content-wrapper {
  display: flex;
  align-items: center;
}

.buy-now-btn {
  min-width: 144px;
  height: 45px;
  padding: 14px 40px;
  font-size: 14px;
  font-weight: 600;
  background-color: #fd9222;
  color: #ffffff;
  border: none;
  border-radius: 100px;
  margin-right: 14px;
}

.buy-now-btn:hover,
.buy-now-btn:focus {
  background-color: #fcf1e0;
  color: #fd9222;
}

.how-made-link {
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 183px;
  height: 45px;
  padding-left: 20px;
  padding-right: 20px;
  font-size: 14px;
  font-weight: 600;
  text-align: center;
  border-radius: 100px;
  border: 1px solid #ffffff;
}

.how-made-link:hover,
.how-made-link:focus {
color: #fd9222;
border-color: #fd9222;
}

.scroll-down-link {
  font-size: 14px;
  font-weight: 500;
  line-height: 1.29;
  letter-spacing: -0.03em;
  margin-left: auto;
}
.scroll-down-link:hover,
.scroll-down-link:focus {
color: #fd9222;
}

/* ---INGREDIENTS STYLES--- */

.ingredients-section-title {
max-width: 412px;
margin-left: auto;
margin-right: auto;
}
.ingredients-description {
  max-width: 485px;
  margin-left: auto;
  margin-right: auto;margin-bottom: 54px;
  font-size: 14px;
  line-height: 1.29;
  letter-spacing: -0.02em;
  text-align: center;
}

.ingredients-list-title {
  font-size: 14px;
  font-weight: 600;
  line-height: 1.29;
  letter-spacing: -0.02em;
  text-transform: uppercase;
}

.ingredients-list {
display: flex;
column-gap: 24px;
}

.ingredients-list-item {
width: calc((100% - 72px) / 4);
padding: 28px 32px;
border-radius: 15px;
color: #ffffff;
border: 1px solid #fd9222;
}

.ingredients-list-item:nth-child(even) {
  background-color: #ffffff;
  color: #111111;
}

.ingredients-list-item:nth-child(4n + 1) {
  background-color: #fd9222;
}

.ingredients-list-item:nth-child(4n + 3) {
  background-color: #1e1823;
  border: 1px solid #1e1823;
}

.ingredients-list-img {
  margin-bottom: 36px;
}